/* =============
    Footer
============= */

footer{
    background-color: var(--d5);
    color: var(--l4);
    width: 100%;


    a{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: var(--l4);
        padding: 8px;
    }
}

#copyright{
    text-align: center;
    padding: 16px
}