/* =============
    Header
============= */

.header{
    margin-left: 10px;

    display: grid;
    grid-template-columns: 75px;
    grid-template-areas: "myLogo myName";

    #myLogo{
        grid-area: myLogo;
    }

    #myName{
        grid-area: myName;
    }
}

#myLogo{
    border-radius: 20px;
    margin: 10px 0 10px 0;
}

#myName{
    margin: 24px 0 24px 20px;
}