/* =============
    Header
============= */

.header{
    display: grid;
    grid-template-columns: repeat(2, 15%vw 85%vw);
    grid-template-areas: 'myLogo myName';


    .myLogo{
        grid-area: myLogo;
    }

    .myName{
        grid-area: myName;
    }
}