/* =============
    About
============= */

body{
    background-color: var(--l4);
    color: var(--d5);
}

.about{
    #pghImg{
        width: 90%;
        margin: 5%;
    }

    #aboutText{
        display: block;
        margin: 0 5% 5%;

    }
}