/* =============
    Associations
============= */

.assoc{
    margin: 5%;
}

p{
    margin: 5% 0;
}

.orgList{
    list-style-type: none;
    padding: 0;
    margin: 5%;
    gap: 20px;

    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas:
    "ALA CLP"
    "SAA IFLA";

    @include md{
        margin: 5% 10%;
        gap: 40px;
        grid-template-columns: 30% 70%;
    }

    #ala{
        grid-area: ALA;

        @include md{
            line-height: 24px;
        }
    }

    #clp{
        grid-area: CLP;

        @include md{
            line-height: 24px;
            
        }
    }

    #ifla{
        grid-area: IFLA;
        
        @include md{
            line-height: 24px;
        }
    }

    #saa{
        grid-area: SAA;
      
        @include md{
            line-height: 24px;
        }
    }
}