/* =============
    Associations
============= */

.assoc{
    margin: 5%;
}

p{
    margin: 5% 0;
}

.orgList{
    list-style-type: none;
    padding: 0;
    margin: 5%;
    gap: 24px;

    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-areas:
    "SAA CLP"
    "ALA IFLA";

    #ala{
        grid-area: ALA;
    }

    #clp{
        grid-area: CLP;
    }

    #ifla{
        grid-area: IFLA;
    }

    #saa{
        grid-area: SAA;
    }
}