/* =============
    Contact
============= */

body{
    background-color: var(--l4);
    color: var(--d5)
}

.contact{
    margin: 5%;

    @include md{
        text-align: center;
        line-height: 0px;
    }
}

#emailText{
    text-align: center;
    margin-top: 10%;

    @include md{
        margin-top: 5%;
    }
}

#email{
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--d3);
    border: solid var(--d5) 2px;
    padding: 8px;
    margin: 5%;

    @include md{
        width: 20%;
        margin: 3% 39%;
    }
}